<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Julles burgers</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <main>
            <header id="welcomeHeader">
                <img id="imageHeader" src="https://cdnimg.webstaurantstore.com/images/articles/7/lighting-header.jpg" alt="Span" title="Front" width="200px">
                <h1>Welcome to Julles Burgers</h1>
            </header>
            <section id="selectSection">
                <h2>Select burger</h2>
                <p>This is where you execute burger selection</p>
                <table>
                    <div class="wrapper">
                        <div class="box a">
                            <h3>Chickenburger</h3>
                            <img src="https://www.burgerking.se/011_se/Product%20images/Burgers/image-thumb__14591__product_detail/Chicken%20King%201500x1500.png" alt="Span" title="Chickenburger" width="200px">
                            <ul>
                                <li>170 kcal</li>
                                <li>Contains <span class="allergy">gluten</span></li> 
                                <li>Contains <span class="allergy">lactos</span></li>
                            </ul>
                        </div>
                        <div class="box b">
                            <h3>Cheesebeanburger</h3>
                            <img src="https://www.burgerking.se/011_se/Product%20images/Burgers/image-thumb__16402__product_detail/Single_Cheese_Produktbilder-Hemsida.png" alt="Span" title="Cheeseburger" width="200px">
                            <ul>
                                <li>130 kcal</li>
                                <li>Contains beans</li>
                                <li>Contains <span class="allergy">lactose</span></li>
                            </ul>
                        </div>
                        <div class="box c">
                            <h3>Truffleburger</h3>
                            <img src="https://www.burgerking.se/011_se/Product%20images/Burgers/image-thumb__18082__product_detail/BBQ%20CHEESE%20BACON_1500x1500px.png" alt="Span" title="Truffleburger" width="200px">
                            <ul>
                                <li>200 kcal</li>
                                <li>Contains bacon</li>
                                <li>Contains <span class="allergy">gluten</span></li>
                            </ul>
                        </div>
                    </div>
                </table>
            </section>

            <section id="customerSection">
                <h2>Customer information</h2>
                <p>This is where you provide neccessary information</p>

                <h3>Delivery information:</h3>
                <p>
                    <label for="fullname">Fullname</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" required="required" placeholder="Street name">
                </p>
                <p>
                    <label for="house">Street</label><br>
                    <input type="number" id="house" name="ho" required="required" placeholder="House number">
                </p>
                <p>
                    <label for="recipient">Recipient</label><br>
                    <select id="recipient" name="rcp">
                        <option>Debit card</option>
                        <option>Credit card</option>
                        <option selected>Swish</option>
                        <option>Klarna</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" id="Male" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" id="Female" name="gender" value="female">
                    <label for="male">Female</label><br>
                    <input type="radio" id="Non-binary" name="gender" value="non-binary">
                    <label for="male">Non-binary</label><br>
                    <input checked type="radio" id="Undisclosed" name="gender" value="female">
                    <label for="male">Undisclosed</label><br>
                </p>

            </section>

            <button type="submit"><img src="https://hotemoji.com/images/dl/u/biker-emoji-by-google.png" alt="Span" title="Biker" width="20px"> Place my order</button>
        </main>
        <footer>&copy; 2020 Jullemusten LTD</footer>
    </body>
</html>